.backgroundforgenqr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #ffdde1);
    background-size: 400% 400%;
    animation: gradientMove 10s infinite alternate ease-in-out;
    z-index: -1;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.containerforgenqr {
    position: absolute;top:0;left: 0;width: 100%;height: 100%;
    display: flex;justify-content: center;
    align-items: center;flex-direction: column;
    text-align: center;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    color: #000;
    z-index: 2;overflow: hidden;
}

.titleforgenqr {
    font-size: 2rem;
    line-height: 1.8em;
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 5%;
}.formforgenqr {
    position: relative;
    width: 90%;
    max-width: 500px;
    min-width: 300px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.labelforgenqr {
    font-size: 1.2rem;color: #555;
    font-weight: bold;
    margin-bottom: 10px;
}

.inputforgenqr {position: relative;
    display: block;align-self: center;
    width: 80%;
    max-width: 100%;margin: 10px;
    padding: 10px;
    border: 2px solid #222;
    border-radius: 5px;text-align: center;
    font-size: 1rem;display: flex;justify-content: center;align-items: center;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

.inputforgenqr:focus {
    border: 1px solid #ff5722;
    outline: none;
}
.buttonforgenqr {position: relative;
    width:40%;margin-top:3%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #ff5722;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.buttonforgenqr:hover {
    transform: scale(1.05);
}

.messageforgenqr {
    margin-top: 5%;
    font-size: 1.5rem;
    animation: fadeIn 2s ease-in-out;
}

.successforgenqr {
    color: #28a745;
}

.errorforgenqr {
    color: #dc3545;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}